{% extends "unfold/layouts/base.html" %}

{% block content %}
<style>
    :root {         
        --color-font-subtle-light: 107 114 128;
        --color-font-subtle-dark: 156 163 175;
        --color-font-default-light: 75 85 99;
        --color-font-default-dark: 209 213 219;
        --color-font-important-light: 17 24 39;
        --color-font-important-dark: 243 244 246;
        --color-primary-50: 250 245 255;
        --color-primary-100: 243 232 255;
        --color-primary-200: 233 213 255;
        --color-primary-300: 216 180 254;
        --color-primary-400: 192 132 252;
        --color-primary-500: 168 85 247;
        --color-primary-600: 147 51 234;
        --color-primary-700: 126 34 206;
        --color-primary-800: 107 33 168;
        --color-primary-900: 88 28 135;
        --color-primary-950: 59 7 100;
    }
    .mt-15{
        margin-top: 35px;
    }
</style>

<div class="flex flex-row flex-grow font-semibold items-center min-w-0 mr-3">
    <span class="cursor-pointer hidden flex-row items-center text-sm xl:flex">
        <span class="material-symbols-outlined" hx-get="/admin/toggle-sidebar/" hx-swap="none" x-on:click="sidebarDesktopOpen = !sidebarDesktopOpen">
            dock_to_right
        </span>
    </span>
    <span class="hidden bg-gray-200 h-5 mx-3 w-px xl:block dark:bg-gray-700"></span>
    <h1 class="overflow-hidden text-ellipsis text-sm whitespace-nowrap xl:text-base text-font-important-light dark:text-font-important-dark">
            <span class="tracking-tight">
                Reset Password
            </span>
    </h1>
</div>

<p class="mb-3 px-3 py-3 rounded-md text-sm bg-green-100 text-green-700 dark:bg-green-500/20 dark:text-green-400 mt-15">
    Your password has been successfully reset. You can now log in with your new password.
</p>

<!-- <a href="http://127.0.0.1:8000/admin/login/?next=/admin/" class="btn">Login</a> -->

{% endblock %}



